@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap");

@font-face {
  font-family: "Archivo Black";
  font-display: swap;
  src: local("Archivo Black"),
    url("https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap")
      format("woff2");
}

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  background-color: #1c1c1c;
  font-family: "Archivo Black", sans-serif;
  font-weight: 500;
}
